<form action="/search" method="get" class="search-form">
    <input type="text" name="search" placeholder="Buscar productos, marcas y más" value="" class="search-form_input">
    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
</form>