<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("partials/head.ejs") %>

<body>
	<!-- Header -->
    <%- include("partials/header-logoff.ejs") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>///////////////////////////////////////// 
			<br> 
				<form action="product.ejs" method="get">
					<div>
						<label>Img:</label>
				<input id="images" type="file" name="image" value="">
				</div>
					<div>
						<label>Nombre:</label>
				<input id="nombre" type="text" name="nombre" value="">
				</div>
					<div>
						<label>Descripción:</label>
				<input id="Descripción" type="text" name="Descripción" value="">
				</div>
				<div>
						<button type="submit">Cargar</button> 
				</div>
				</form>
			<br>
			</h2>


	<!-- footer -->
    <%- include("partials/footer.ejs") %>
	<!-- /footer -->
</body>

</html>